<div class="d-flex align-item-center justify-content-center">
<h1> Main page</h1>
</div>

<%= button_to "Connect Twitter", "/auth/twitter", method: :post, data: {turbo: "false"}, class: "btn btn-primary" %>


